
    {{>navigation}}
<div class="jumbotron mt-4">
    <h1 class="title is-1">
        Notes App Nodejs and Mongodb
    </h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque optio possimus unde hic soluta sapiente.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repudiandae placeat iure numquam error quaerat beatae minima consequatur ad dignissimos? Labore?</p>
    <br>
    <a href="/notes/add" class="button is-link is-light">Facebook</a>
</div>