
{{>navigation}}
    <link rel="stylesheet" href="/css/index.css">
    <section class="under-header">
        <div class="image"></div>
    </section>
    <section class="map" id="Imagenes">
        <div class="image"> <img src="/Ramblas_Vistas_altos.png" alt=""> </div>
    </section>
    <section class="text" id="Detalles">
        <div class="parrafos">
            <div class="p">
                <h1 style="text-align: center;">INFORMACIÓN</h1> <br>
                <p><b>Proyecto Residencial Mallorca</b> se ubica en el Km 58.5 Ruta al Atlántico en Agua Salóbrega Sanarate del
                    departamento El Progreso, ofrece <b>lotes de 105mt2</b> con servicios de agua, luz e internet.</p>
                <br>
                <p>
                    Proyecto Mallorca son 14 manzanas de terreno que se divide en 3 sectores urbanizados: <b>Ramblas, Vistas y
                    Altos de Mallorca</b>, además el proyecto de reforestación de 4 manzanas de superficie destinadas a ser el
                <b>Parque Ecológico Mallorca.</b></p>
            </div>
        </div>
    </section>