@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

#Formulario {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

#Formulario .form {
    width: 600px;
    height: 2000px;
    background: #bdb6b6;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

#Formulario .form .titulo h1 {
    color: #0D0D0D;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 40px;
    text-align: center;
    margin-bottom: 30px;
    width: 100%;
}

#Formulario .form input[type="email"],
#Formulario .form input[type="text"],
#Formulario .form input[type="number"],
#Formulario .form input[type="password"] {
    width: 100%;
    margin: 15px 0px 15px 0px;
    outline: none;
    border: 2px solid #bdb6b6;
    padding: 15px;
    background: #F2F2F2;
    border-radius: 10px;
    transition: all ease 300ms;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}

#Formulario .form input[type="email"]::placeholder,
#Formulario .form input[type="text"]::placeholder,
#Formulario .form input[type="number"]::placeholder,
#Formulario .form input[type="password"]::placeholder {
    text-transform: uppercase;
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;
}

#Formulario .form input[type="email"]:hover,
#Formulario .form input[type="text"]:hover,
#Formulario .form input[type="number"]:hover,
#Formulario .form input[type="password"]:hover {
    border: 2px solid #0D0D0D;
}

#Formulario .form input[type="email"]:focus,
#Formulario .form input[type="text"]:focus,
#Formulario .form input[type="number"]:focus,
#Formulario .form input[type="password"]:focus {
    border: 2px solid #0D0D0D;
}

#Formulario .form input[type="submit"] {
    width: 100%;
    height: 75px;
    margin: 15px 0px 15px 0px;
    outline: none;
    border: none;
    padding: 15px;
    background: #0D0D0D;
    border-radius: 10px;
    color: #FED500;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    transition: all ease 300ms;
}

#Formulario .form input[type="submit"]:hover {
    background: #1a1919;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.radius {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.radius label {
    margin-left: 10px;
    margin-right: 10px;
}

.fecha-inicial {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fecha-inicial .fei {
    width: 49%!important;
}

.fecha-final {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fecha-final .fei {
    width: 49%!important;
}

.refe {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 20px;
    text-align: center;
}