<div class="errors-container">
    {{#if success_msg}}
    <div class="alert show showAlert is-success">
        <span class="fas fa-exclamation-circle"></span>
        <span class="msg">Completado: {{success_msg}}!</span>
        <span class="btn close-btn">
            <span class="fas fa-times"></span>
        </span>
    </div>
    {{/if}}

    {{#if error_msg}}
    <div class="alert show showAlert is-error">
        <span class="fas fa-exclamation-circle"></span>
        <span class="msg">Error: {{error_msg}}!</span>
        <span class="btn close-btn">
            <span class="fas fa-times"></span>
        </span>
    </div>
    {{/if}}
</div>

<script>
    setTimeout(function () {
        $('.alert').addClass("hide");
        $('.alert').removeClass("show");
        $('.alert').addClass("display-none");
    }, 5000);
    $('.btn').click(function () {
        $('.alert').addClass("hide");
        $('.alert').removeClass("show");
        $('.alert').addClass("display-none");
    });
</script>