    <header class="nav">
        <div class="nav-content">
            <div class="section-container">
                <section class="logo">
                    <img src="/ProyectoResidencialMallorca.svg" alt="">
                </section>
                <section class="nav-items">
                    <ul class="list">
                        <a href="#Inicio" class="list-xd">
                            <li>Inicio</li>
                        </a>
                        <a href="#Detalles" class="list-xd">
                            <li>Detalles</li>
                        </a>
                        <a href="#Imagenes" class="list-xd">
                            <li>Imágenes</li>
                        </a>
                        <a href="#Contacto" class="list-xd">
                            <li>Contacto</li>
                        </a>
                    </ul>
                {{#if user}}
                </section>
                <a href="/profile/" class="btn-register"><i class="fa-solid fa-user"></i>     Perfil</a>
                {{else}}
                </section>
                <a href="/signin" class="btn-login">Entrar</a>
                <a href="/signup" class="btn-register">Registrar</a>
                {{/if}}
            </div>
        </div>
    </header>