        <header class="nav">
        <div class="nav-content">
            <div class="section-container">
                <section class="logo">
                    <img src="/ProyectoResidencialMallorca.svg" alt="">
                </section>
                <a href="/" class="btn-login">Inicio</a>
                <a href="/signup" class="btn-register">Registrar</a>
            </div>
        </div>
    </header>