<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- FONT AWESOME -->
    <script src="https://kit.fontawesome.com/b49da82541.js" crossorigin="anonymous"></script>
    <!-- CUSTOM CSS -->
    <link rel="stylesheet" href="/css/alerts.css">
    <link rel="shortcut icon" href="/B_R_Cesar_Y.svg" type="image/x-icon">
    <title>Bienes Raíces César</title>
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="/html2pdf/dist/html2pdf.bundle.min.js"></script>
</head>

<body>
    <div class="container-general">
        {{{body}}}
    </div>
    <main class="container p-5">
        {{>errors}}
        {{>messages}}
    </main>
</body>

</html>