{{>navigation_register}}
<link rel="stylesheet" href="/css/register.css">
    <section id="Formulario">
        <div class="form">
            <div class="contenido">
                <div class="titulo">
                    <h1>Registrarse</h1>
                </div>
                <div class="contenedor-form">
                    <form action="/signup" method="post">
                        <input type="text" name="name" placeholder="nombre" value="{{name}}" autocomplete="off">
                        <input type="email" name="email" placeholder="correo" value="{{email}}" autocomplete="off">
                        <input type="password" name="password" placeholder="contraseña">
                        <input type="password" name="confirm_password" placeholder="confirmar contraseña">
                        <input type="submit" value="Registrarse">
                    </form>
                </div>
            </div>
        </div>
    </section>